.select {
    min-width: 150px; 
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px #000;
    margin: 5px;
    text-align: end;
    align-self: stretch;
}

.select-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: #00000065;
    color: #dadada !important;
}

.select-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.option-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.option-icon {
    height: 15px;
    width: 15px;
}

.option-text {
    font-size: 14px;
}

.option-subtext {
    font-size: 10px;
    font-style: italic;
}